 
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Iosevka, Roboto, Helvetica, Arial, sans-serif;
    min-height: 0px;
   
    /*font-size: 13px;*/
}


/* window#waybar {
    background-color:  	#11111b;
     */
    /*rgba(43, 48, 59, 0.5);*/
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/


    /* color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border-bottom: 3px solid #313244;
     
}*/

window#waybar {
    background-color: transparent;
} 

window#waybar > box {
    /*border-radius: 8px;*/
    margin: 0px 0px 15px 0px;
    background-color: #11111b;
    box-shadow: 1px 4px 5px 0.5px #101010;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
    
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

/* #workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
   
    box-shadow: inset 0 -3px transparent;
   
    border: none;
  
    padding-bottom: 0px;
}

 https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect ?*/
/*#workspaces button:hover {
    background-color: rgba(0, 0, 0, 0.2);
   
}

#workspaces button.active {
   
   
    color: #7f849c;

   
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
} */

#workspaces {
	background: #0c0e0f;
    border: solid 0px #cdd6f4;
    min-height: 0px;
    font-size: 2px;
   
}
#workspaces button {
    padding-top: 0px;
    margin-top: 0px;
    min-width: 5px;
    margin-left: 5px;
    margin-right: 5px;

    border-radius: 16px;
    color: #2f354a;
    background-color: #2f354a;
    transition: all 0.3s ease-in-out;
}
#workspaces button.active {
    color: #cdd6f4;
    background-color: #cdd6f4;
    border-radius: 16px;
    min-height: 0px;;
    min-width: 20px;
    background-size: 100% 100%;
    transition: all 0.3s ease-in-out;
}
#workspaces button:hover {
	background-color: #cdd6f4;
	color: #cdd6f4;
	border-radius: 16px;
  min-width: 35px;
  background-size: 100% 100%;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#workspaces, 
#window {
    
    font-size: 10px;
    margin-bottom: 0px;
    margin-top:0px;
    margin-left: 0px;
   
    background-color: #24273a;
    border-radius: 30px;
    padding: 4px 1px 4px 1px;
  
   
} 

/* If workspaces is the leftmost module, omit left margin */
/*.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}*/

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
    
}
#custom-code{
    color: #8aadf4;
    font-size: 20;
    padding-right:10px;
}

#custom-browser{
    color: #f5a97f;
   
    font-size: 34px;
    padding-left: 10px;
    padding-right: 10px;
}

#custom-swaync{
    font-size:18px;
    margin-right: 10px;
    /*padding: 0 5px;*/
    margin-top: -10px;
    margin-bottom: -10px;
   color: #89b4fa
}

#custom-swaync button:hover{
    background: red;
    box-shadow: red;
}
#custom-vpn {
    /*background-color: #313244;*/
    
    font-size: 18px;
    margin-right: 5px;
    /*padding: 0 5px;*/
    margin-top: -10px;
    margin-bottom: -10px;
   
    
}

#custom-vpn:hover{
    background: red;
    box-shadow: red;
}

#custom-brwoser button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}
#custom-terminal{
    /*background-color: #313244;*/
    color:  #cad3f5;
    font-size: 20;
    padding-left: 0px;
    padding-right: 10px;
    
}

#custom-folders{
    /*background-color: #313244;*/
    color:  #eed49f;
    font-size: 20;
    padding-right: 10px;
    /*padding: 0 5px;*/
   
    
}
#custom-spotify{
    /*background-color: #313244;*/
    color:  #a6da95;
    font-size: 20;
    padding-right: 10px;
    /*padding: 0 5px;*/
   
    
}

#custom-menu{
    /*background-color: #313244;*/
    color:  #cad3f5;
    border-top-right-radius: 20%;
    font-size: 24;
    padding: 0px 10px ;
    
}
#custom-BranchMenu{
   
   
    font-size: 18px;
    color: #8caaee;
    margin-top: -15px;
    margin-bottom: -15px;
    padding: 0 9px;
    
    
}
#clock {
    /*background-color: #64727D;*/
    font-family:'Ubuntu Nerd Font';
    font-size: 20;
    
}

#battery {
    
    font-size: 24px;
    color: #a6da95;
    margin-top: -10px;
    margin-bottom: -15px;
    margin-right: 20px;
    padding: 0 0 5px 0px;
}
#battery.warnings {
    background-color: #f0932b;
}

#battery.critical {
    background-color: #eb4d4b;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.wifi{
    background: rgba(0,0,0,0.0);
    color: #a6da95;
    margin-right: 5px;
   /* background-color: #b7bdf8;*/
   background-image: url("/home/branchmanager/Downloads/download.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 20px 20px; 
   margin-top: -10px;
   margin-bottom: -10px;
   font-size: 18px;
    
}

#network.ethernet{
    background: rgba(0,0,0,0.0);
    color: #a6da95;
    margin-right: 5px;
   /* background-color: #b7bdf8;*/
   margin-top: -10px;
   margin-bottom: -10px;
   font-size: 18px;
    
}

#network:hover {
    background-color: red;
    background: red;
    box-shadow: red;
    margin-top: 40px;
    margin-bottom: 40px;
}



#network.disconnected {
    background-color: #f53c3c;
    margin-bottom: 8px;
    margin-top:4px;
   /* background-color: #b7bdf8;*/
   font-size: 24;
    border-radius: 5px;
    padding: 0px 10px ;
    color: #a5adcb;
}

#pulseaudio {
    color: #c6a0f6;
    margin-right: 8px;
   /* background-color: #b7bdf8;*/
   /* border-radius: 5px;*/
    margin-top: -10;
    margin-bottom: -10px;
    font-size: 20px;
   
}

#pulseaudio.muted {
    background-color: #90b1b1;
    margin-right: 5px;
    color: #2a5c45;
}

#custom-power{
    
    
    background-size: 20px;
    
   /* background-color: #b7bdf8;*/
    font-size: 18px;
    /*line-height: 25px;*/
    margin-bottom: -10px;
    margin-top: -10px;
    border-radius: 0px;
    margin-right: 10px;
    
   
    /*color:  	#cad3f5;*/
    
   

    color: #ee99a0;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    /*background: #97e1ad;*/
    color: #a6da95;
    font-size: 24px;
    margin: 0 5px;
   /* min-width: 16px;*/
    min-height: 16px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

/*#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}*/
